<style>
.divClass h1{
    color: blue;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: chocolate;
    padding: 50px;
    border-color: crimson;
    border-width: 20px;
    border-style: dotted;
}
img{width: 400px;}
#spanId{
    font-size: 18px;
    margin: 50px;
}
</style>